.mat-mini-fab {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2em;
}

select{
height: 3em;
width: 100%;
text-align: center;
font-size: 1em;
}

input{
height: 3em;
width: 100%;
text-align: center;
font-size: 1em;
color: gray;
}

#Amount{
height: 5em;
width: 100%;
text-align: center;
font-size: 2em;
color: gray;
font-weight: bold;
}

#confirm{
height: 5em;
width: 100%;
text-align: center;
font-size: 1em;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgb(133, 133, 133), 
              0 1px 1px 0 rgb(133, 133, 133), 
              0 1px 3px 0 rgb(133, 133, 133);
}

