
    <div class="dialog-content">
        <div class="container" align = "center"> 
            <form>
                <br>   
                    <select ng-model="myVar">
                        <option value="Choose your name">Choose your name
                        <option value="name1">Name1
                        <option value="name2">Name2
                        <option value="name3">Name3
                        <option value="name3">Name4
                    </select>
                <br>
                <br>   
                    <select ng-model="myVar">
                        <option value="Choose a name">Choose a name
                        <option value="name1">Name1
                        <option value="name2">Name2
                        <option value="name3">Name3
                        <option value="name3">Name4
                    </select>
                <br>
            <br>
                <input type="date" id="date" name="date" value="Date"><br>
            
            <br>
                <input type="text" id="Amount" name="Amount" value="Amount / €"><br>  
            </form> 
       
        <br> 
            <button mat-raised-button color="primary" id="confirm">confirm
            </button> 
       

            <button mat-mini-fab ="inputscreen" mat-dialog-close color="white" type="button">x
            </button>

        </div>
    </div>


