<mat-dialog-content *ngIf="payment && users">
    <div class="dialog-content">
        <div class="container" align = "center"> 
            <form>
                <br>   
                    <select id="userDropdown" #userDropdown1>
                        <option value="choose" disabled [selected]="isNew">Wer hat bezahlt?</option>
                        <option *ngFor="let user of users" value="{{user.name}}" [selected]="payment.spentBy == user.name">{{user.name}}</option>
                    </select>
                <br>
                <br>   
                    <select id="userDropdown" #userDropdown2>
                        <option value="choose" disabled [selected]="isNew">Wer hat empfangen?</option>
                        <option *ngFor="let user of users" value="{{user.name}}" [selected]="payment.receivedBy == user.name">{{user.name}}</option>
                    </select>
                <br>
            <br>
            <input type="date" id="dateField" #dateField name="date" value="{{formattedDate()}}" required><br>
            
            <br>
            <input type="number" id="Amount" #amountField name="amount" value="{{ payment.amount / 100 | number:'1.2-2' }}"><br>
            </form> 
       
        <br> 
        <button mat-raised-button color="primary" id="confirm" (click)= "save(userDropdown1.value, userDropdown2.value, dateField.value, amountField.value)">
            Bestätigen
        </button>
       

            <button mat-mini-fab ="inputscreen" mat-dialog-close color="white" type="button">x
            </button>

        </div>
    </div>
</mat-dialog-content>

