<mat-dialog-content *ngIf="expense && users">
    <div class="dialog-content">
        <div class="container" align="center">
            <form>
                <br>
                <select id="userDropdown" #userDropdown>
                    <option value="choose" disabled [selected]="isNew">Wer hat bezahlt?</option>
                    <option *ngFor="let user of users" value="{{user.name}}" [selected]="expense.spentBy == user.name">{{user.name}}</option>
                </select>
                <br>
                <br>
                <input type="date" id="dateField" #dateField name="date" value="{{formattedDate()}}" required><br>
                <br>
                <input type="text" id="descriptionField" #descriptionField name="description" [(ngModel)]="expense.description"><br>

                <br>
                <input type="number" id="Amount" #amountField name="amount" value="{{ expense.amount / 100 | number:'1.2-2' }}"><br>
            </form>

            <br>
            <button mat-raised-button color="primary" id="confirm" (click)="save(userDropdown.value, dateField.value, descriptionField.value, amountField.value)">
                Bestätigen
            </button>

            <button mat-mini-fab="inputscreen" mat-dialog-close color="white" type="button">
                x
            </button>

        </div>
    </div>
</mat-dialog-content>