<div *ngIf="expenses && payments && users">
      <mat-card *ngFor="let user of users">
                <dl>
                         <dt class="user" >
                                <span class="user-name">{{user.name}}</span>  
                                <span class="balance">{{getBalance(user.name) /100  | number:'1.2-2'}} €</span>
                        </dt>
                </dl>  
        </mat-card>      
</div>

<app-menu-plus (addedExpense)="updated($event)" (addedPayment)="updated($event)"></app-menu-plus>
