mat-card{ 
    background-color: rgb(245, 244, 244);
    color: #6d6d6d;
    margin: 1%;
}

.username{
    font-weight: bold;
    color: #4d4d4d;
}

.balance{
    text-align: right;
    font-weight: bold;
    color: #4d4d4d;
    float: right;
    font-size: 1.2em;
    margin-right: 8%;
}

.abrechnen{
    background-color: #8a8a8a;
    color: rgb(255, 255, 255);
    margin-top: 3%;
    font-weight: bold;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(133, 133, 133), 
                0 1px 1px 0 rgb(133, 133, 133), 
                0 1px 3px 0 rgb(133, 133, 133);
}
