mat-card{
    background-color:rgba(185, 185, 185, 0.301);
    color: rgb(245, 244, 244);
    margin-bottom: 5%;
}

.mat-mini-fab {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2em;
  }

.spentBy{
    float: left;
    font-weight: 600;
}

.amount{
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    
}

.receivedby{
    float: left;
    font-size: 1.2em;
    font-weight: bold;
}

.btn{
    float: center;
    width: 100%;
    margin-top: 3%;
    margin-right: 0%;
    color: rgb(255, 255, 255);
    background-color:#ff0267c0;
    font-weight: bold;
    font-size: 1em;

}

.btn-choose{
    width: 100%;
}

.blue{
    background-color: #ff0267c0 !important; 
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }
mat-button-toggle{
    width: 100%;
}