<mat-dialog-content *ngIf="suggestedPayments">
    <mat-card *ngFor="let payment of suggestedPayments">
        <span class="amount"> {{payment.amount/100 | number:'1.2-2'}} €</span>
        <span class="spentBy">von {{payment.spentBy}}</span>
        <br>
        <span class="receivedBy"> an {{payment.receivedBy}}</span> 
        <br>
        <span><button type="button" class="btn">Eintragen</button></span>
    </mat-card>

    <button mat-mini-fab="inputscreen" mat-dialog-close color="white" type="button">
        x
    </button>
    
</mat-dialog-content>