mat-card{
    background-color: rgb(245, 244, 244);
    color: #6d6d6d;
    margin: 1%;
}
.amount{ 
    font-weight: bold;
    color: #4d4d4d;
    float: right;
    margin-right: 8%;
    font-size: 1.2em;
    
}
.spentBy{
    font-weight: bold;
    color: #4d4d4d;
    font-size: 1.2em;
}
.date{
    color: #afaeae;
    font-size: 0.8em;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(133, 133, 133), 
                0 1px 1px 0 rgb(133, 133, 133), 
                0 1px 3px 0 rgb(133, 133, 133);
}